body {
    Margin: 0;
    padding: 0;
    background-color: #D9A796;
    font-family:'Big Shoulders Display',cursive;
    font-size: 40px;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}


/* ---------------------------------- */

hr{
    color:rgba(15, 15, 15, 0.685) solid 4px !important;
    background-color: rgba(83, 83, 83, 0.335);
    box-shadow: rgba(214, 251, 0, 0.561) 1 1 0px 1px;
    margin-right: 8px;
}
.song-item{
    border: solid rgba(0, 0, 0, 0) 1.25px;
    padding: 3px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0);
}



/* ---------------------------------- */
.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #D9CECC;
    padding-bottom: 40px;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    color: #2a2a2a;
}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 400px) {

}