body {
    Margin: 0;
    padding: 0;
    background-color: #D9A796;
    font-family:'Big Shoulders Display',cursive;
    font-size: 40px;
    align-items: center;
    text-align: center;
}

li {
    list-style-type: none;
}

table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}


/* ---------------------------------- */

hr{
    color:rgba(15, 15, 15, 0.685) solid 4px !important;
    background-color: rgba(83, 83, 83, 0.335);
    box-shadow: rgba(214, 251, 0, 0.561) 1 1 0px 1px;
    margin-right: 8px;
}
.song-item{
    border: solid rgba(0, 0, 0, 0) 1.25px;
    padding: 3px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0);
}


.card{
    background-color:rgba(0, 0, 0, 0);

}

.card a{
    background-color:rgba(0, 0, 0, 0);
 
}  

#green-noti {
    background-color: #1acc58;
    width: 75%;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 100;
    height: 40%;
    margin: 5%;
    color: #1a251e;
    text-align: center;
    padding-top: 5%;
    font-size: 4rem;
    box-shadow: #73ff4e5e 0px 2px 20px 14px;
    text-shadow: black 1px 1px;
    letter-spacing: .95px;
  }

  div#green-noti.off{
      opacity: 0% !important;
      visibility: hidden;
  }
 
  input {
    background-color: #d4d4d4;
    box-shadow: inset #52525271 1px 1px 5px 1px;
    margin: 7px;
    padding: 3px;
  }

  .btn-link{
      font-size: 1.5rem;
  }

   li{
    list-style-type: none !important;
  }

  #link-note{
    background-color: #d9a796;
    padding: 10px;
    color: #ffffffd8;
    text-shadow: #090909 0px 2px 4px;
    font-size: 1.3rem;
    letter-spacing: .87;
  }

/* ---------------------------------- */

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #D9CECC;
    padding-bottom: 40px;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    color: #2a2a2a;
}

button{
box-shadow: #a2a2a2 2px 2px 2px 0px;
  background-color: #fff4f4;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 400px) {

}